.body {
    font-family: "Open Sans", "Raleway", "Roboto";
}

.container{
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 120px;
    font-family: 'Raleway';
    font-weight: 700;
        font-size: 26px;
        line-height: 0.86;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #2196F3;
    text-decoration: none;}

.heder-img {color: black;}

.header-list {
    display: flex;
    list-style: none;
}

.header-link-menu {}

.header-link {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    
        color: #212121;
    text-decoration: none;
}
.header-link:hover ,
.header-link:focus {
    color: #2196F3;
}

.conteiner-box{
    margin-left: auto;
    
}
.header-color {}

.header-contact {
    margin-left: auto;
    display: flex;
    list-style: none;
}

.header-link-mal {
    text-decoration: none;
}

.header-mal {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    
        color: #757575;
    text-decoration: none;}
.header-mal:hover,
.header-mal:focus {
    color: #2196F3;
}
.header-tel {
font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #757575;
    text-decoration: none;}
.header-tel:hover,
.header-tel:focus {
    color: #2196F3;
}
.header-item {
    background-color: #757575;
}

.hero-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        /* or 136% */
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: #FFFFFF;
}

.link-btn {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        /* identical to box height, or 188% */
    
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
    
        color: #FFFFFF;
}
.link-btn:hover,
.link-btn:focus {
    background-color: #2196F3;
    color: white;
}
.section {}

.section-list {
    list-style: none;
}

.section-item {
    text-decoration: none;
}


.section-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #212121;
}

.section-text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: #757575;
}

.about-group {}

.about-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
}

.about-list {
    list-style: none;
}

.about-item {
    text-decoration: none;
}

.about-link {}

.people {}

.people-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
}

.people-list {
    list-style: none;
}

.people-item {
    text-decoration: none;
}

.people-title-man {}

.people-text {}

.footer {
    
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
        font-size: 26px;
        line-height: 0.86;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #2196F3;
        text-decoration: none;
    text-decoration: none;}

.footer-img {color: black;}

.footer-page {
    background-color: #757575;
}

.footer-list {
    list-style: none;
}

.footer-item {
   
}
.footer-link-top{
    text-decoration: none;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: #FFFFFF;
}
.footer-link-top:hover,
.footer-link-top:focus {
    color: #2196F3;
}
.footer-link {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
    text-decoration: none;}
 .footer-link:hover,
.footer-link:focus {
color: #2196F3;
}